<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/RtoE.png" class="welcome-card-image" (click)="convertype()" *ngIf="!typeConversion"></ion-img>
    <ion-img src="/assets/EtoR.png" class="welcome-card-image" (click)="convertype()" *ngIf="typeConversion"></ion-img>

    <ion-card-header>
      <ion-card-subtitle>Calculator </ion-card-subtitle>
      <ion-card-title *ngIf="!typeConversion">Rupias to Euros</ion-card-title>
      <ion-card-title *ngIf="typeConversion">Euros to Rupias</ion-card-title>

    </ion-card-header>
  </ion-card>


  <div *ngIf="typeConversion">
    <ion-item>
      <ion-label position="stacked">Euro</ion-label>
      <ion-input  [(ngModel)]="Euro" type="number" (change)="calculateCurrencyOne()" (keyup)="calculateCurrencyOne()"></ion-input>
    </ion-item>
    <ion-item>
      Euro to Rupia
    </ion-item>
    <ion-item>
      <b> {{RupiaResult | currency:'INR'}} </b>
    </ion-item>
  </div>

  <div *ngIf="!typeConversion">

    <!-- <ion-button (click)="lakhtypec()">lakh</ion-button>
    <ion-button (click)="lakhtypec()">Rupia</ion-button> -->

    <div *ngIf="Laks">
      <ion-item>
        <ion-label position="stacked" >Rupia</ion-label>
        <ion-input [(ngModel)]="Rupia"  type="number"  (change)="calculateCurrencyTwo()" (keyup)="calculateCurrencyTwo()"></ion-input>
      </ion-item>
      <ion-item>
        Rupia to Euro
      </ion-item>
      <ion-item>
        <b> {{EuroResult | currency:'EUR'}}</b>
      </ion-item>
    </div>

    <div *ngIf="!Laks">
      <ion-item>
        <ion-label position="stacked" >Rupia</ion-label>
        <ion-input [(ngModel)]="Rupia" type="number"  (change)="calculateCurrencyTwo()" (keyup)="calculateCurrencyTwo()"></ion-input>
      </ion-item>
      <ion-item>
        Rupia to Euro
      </ion-item>
      <ion-item>
        <b> {{EuroResult | currency:'EUR'}} </b>
      </ion-item>
    </div>
  </div>

</ion-content>
